# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
!.env.example
.credentials.json

# Dependencies / build
node_modules/
vendor/
public/build/
dist/
build/

# PHP / DB
*.sql
*.sqlite

# Archives / large files
*.zip
*.tar.gz
modules.zip

# IDE / editor
.vscode/
.idea/

# Mac Privacy
.Trashes
.BrowserSync
